{% extends 'base.html.twig' %}

{% block title %}
    1 - Interazione con Twig:
{% endblock %}
{% block body %}
    <h1> stampaOra() = {{ stampaOra() }} <br><hr> Numero random = {{numero_casuale}}</h1>
{% endblock %}